
<div class="alert alert-success text-center">
  Untuk metode pembayarannya lewat DANA. Jadi, untuk melakukan transaksi akun dana harus premium.
  </div>
<div class="card-product mb-5">
  <div class="container">
    <h3 class="text-center">Ingin Membeli Produk Ini?</h3>
    <div class="card shadow-lg text-center">
      <img src="/img/diamond.png" alt="..." class="card-img-top m-auto" style="width:50%;" />
      <div class="card-body">
        <h5 class="card-title text-dark" style="font-size: 16px;"><%= product.name %></h5>
        <p class="card-text text-success" style="15px">Rp. <%= product.price %></p>
      </div>
    </div>
  </div>
</div>

<div class="chat-group">
  <div class="container">
    <h2 class="text-center text-light">Chat Admin</h2>
    <a href="https://www.instagram.com/galihapriansyah64" class="ig my-2 text-light d-block shadow-lg m-auto w-100 btn btn-light">
    <i class="bi bi-instagram"></i>
    Instagram
    </a>
    <a href="https://wa.me/6285159159694?text=Halo FF Store, Saya ingin membeli produk <%= product.name %> Free Fire" class="wa bg-success my-2 text-light d-block shadow-lg m-auto w-100 btn btn-light">
    <i class="bi bi-whatsapp"></i>
    WhatsApp
    </a>
  </div>
</div>