<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Not Found</title>
  </head>
  <body class="d-flex overflow-hidden" style="height:90%;">
    <div class="error m-auto d-flex justify-content-center align-items-center flex-column">
      <h1 class="text-danger" style="font-size:150px;">404</h1>
      <p>Halaman Tidak Ada Guys</p>
    </div>
  </body>
</html>